.repoint*
*~
vamp-plugin-sdk
icons/scalable
vamp-aubio-plugins
qm-vamp-plugins
constant-q-cpp
segmentino
nnls-chroma
silvet
tipic
tuning-difference
pyin
azi
vamp-simple-cepstrum
cepstral-pitchtracker
match-vamp
bbc-vamp-plugins
vamp-tempogram
ua-vamp-plugins
marsyas
beatroot-vamp
bqvec
dataquay
rdf
sv-dependency-builds
svcore
vamp-fanchirp
vamp-libxtract-plugins
vampy
Makefile
Makefile.*
*.so
*.dylib
*.dll
.qmake.stash
*.o
*.a
aubio
out/*.cat
out/*.n3
out/*_README.txt
out/*_README.md
out/*_CITATION.txt
out/*_COPYING.txt
out/*.exe
build_win64
build_win32
*.orig
out/.something-to-sign
out/.signed
vamp-plugin-pack-installer
o/
.notarization-status
.notarization-uuid
*.dmg
*.app
installer.qrc
installer_a.qrc
installer_b.qrc
Dockerfile*.gen
plugins.zip
get-version
output.tar
deploy/linux/docker/output
packages/
*.vcproj
*.sln
signtest.exe
*.bak
out_arm64
out_x86_64
