<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleName</key>
	<string>Vamp Plugin Pack Installer</string>
	<key>CFBundleExecutable</key>
	<string>Vamp Plugin Pack Installer</string>
	<key>CFBundleIdentifier</key>
	<string>org.sonicvisualiser.VampPluginPackInstaller</string>
	<key>CFBundleShortVersionString</key>
	<string>PACK_VERSION</string>

	<!-- enable HiDPI -->
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<string>True</string>
  </dict>
</plist>
